@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Ajax Form</h2>

<script type="text/javascript">

    function onBegin(xhr) {
        
    }

    function onSuccess(data, status, xhr) {

        $("#ajaxFormContainer").html(data.View);

        if (data.Success) { 
            alert("Success");
        }
        else {
            //Do something extra here with validation errors if needed.
        }

    }

    function onFailure(xhr, status, error) {
        response = xhr.responseJSON;
        window.location.href = response.RedirectUrl;
    }

    function onComplete(xhr, status) {
    }

</script>

<div id="ajaxFormContainer">
   @{Html.RenderAction("AddPerson");}
</div>
